{% extends 'base.html.twig' %}

{% block body %}
    <h1>Operadora de cadenas Symfony</h1>
    </br>
     <p><a href="{{ path('app_default_mayusculas') }}">Convertir a mayusculas</a></p>
     <p><a href="{{ path('app_default_minusculas') }}">Convertir a minusculas</a></p>
     <p><a href="{{ path('app_default_longitud') }}">Longitud de las cadenas</a></p>
     <p><a href="{{ path('app_default_concatenar') }}">Concatenar las cadenas</a></p>
     <p><a href="{{ path('app_default_charat') }}">Charat</a></p>


{% endblock %}

